@import "base.scss";


.messages {
    position: fixed;
    top: 0;
    padding: 1rem;
    max-width: 35rem;
    width: 100%;
    margin: auto;
    box-shadow: var(--box-shadow);
}

.container {
  .userspace { 
      .username {
        display: block;
      }
    }

    .user-options {
      display: flex;
      gap: 1.5rem;
      justify-content: flex-end;
      align-items: center;
      margin: .4rem 0 1rem 0;
    }
  }
  
  .user-actions {
    display: grid;
    grid-template-columns: .7fr .3fr;
    gap: 1rem;
    width: 100%;

    .search-form {
      display: inline-flex;
      border: 1px solid lightgray;
      padding: .2rem;

      input {
        border: none;
        outline: none;
        padding: .5rem 1rem;
        font-size: 1rem; 
        &:nth-child(2) {
          margin-left: auto;
          background: none;
        }
      }
    }

    .submit-btn {
      place-self: center end;
      background-color: #a1a1d2;
      margin-left: auto;
    }
  }

  .task-container {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;

    tr {
      margin: .2rem 0;
      text-align: left;
      display: block;
      padding: .8rem 0;
      box-shadow: 0 1px 3px rgba(0,0,0, .08) ;
      td {
        padding: 0 .5rem;
        width: 10%;
        word-wrap: anywhere;

        &:nth-child(2) {
          width: 60%;
          margin-right: .4rem;
          border-right: 2px solid lightgray;
        }
      }

    }
  }

.container {
  gap: 1rem;
  .details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
    &:nth-last-child(1) {
      margin-bottom: 1rem;
    }
    .label-info {
        display: block;
        font-weight: 600;
        margin-top: .6rem;
    }
  }
}
