{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">


<form class="form" action="" method="post">
    {% csrf_token %}
    <h1>Adding Task</h1>
    
    <label for="title">
        <input type="text" name="title" id="title" placeholder="Task title" required 
        value="{{task.title}}">
    </label>

    <label for="description">
        <textarea name="description" id="description" cols="30" rows="10" 
        >{{ task.description }}</textarea>
    </label>
    <input class="submit-btn" type="submit" value="Addi Task">
</form>