
{% load static %} 


<link rel="stylesheet" href="{% static 'style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">



<div class="container">

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    </div>
    {% endif %}

    <section class="userspace">
        {% if user.is_authenticated %}
          <h1>Hello <span class="username">{{user.username}}</span></h1>
          <ul class="user-options">
            <li>
              <a href="{% url 'core:logout' %}">Logout</a>
            </li>
            <li>
              <a href="{% url 'core:logout' %}">Sugestions</a>
            </li>
          </ul>
        {% endif %}
    </section>

    <div class="user-actions">
        <form class="search-form" action="{% url 'core:list' %}" method="get">
            <input type="search" name="get-task" placeholder="Search for...">
            <input type="submit" value="send">
        </form>
        <a class='btn submit-btn' href="{% url 'core:add' %}">Add task</a>
    </div>
  
  {% if tasks %}
  <table class="task-container">
    <tbody>
      {% for task in tasks %}
        <tr class="{{ task.status }} user-task">
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'core:details' id=task.id %}">{{task.title}}</a></td>
          <td><a href="{% url 'core:update' id=task.id %}">edit</a></td>
          <td><a href="{% url 'core:delete' id=task.id %}">del</a></td>
          <td><a href="{% url 'core:complete' id=task.id %}">done</a></td>
        </tr>
      {% endfor %}
    </tbody>
  {% else %}
  
  <tr>
    <h4>No record found!</h4>
  </tr>
  {% endif %}
  </table>

</div>
