{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">


<form class="form" action="" method="post">
    <h1>Signup</h1>
    {% csrf_token %}
    <label for="username">
        Username
        <input type="text" name="username" id="username" placeholder="Username">
    </label>
    <label for="password">
        Password
        <input type="password" name="password" id="password" placeholder="Password">
    </label>
    <label for="password">
        Confirm Password
        <input type="password" name="password_conf" id="password" placeholder="Password">
    </label>
    <input class="submit-btn" type="submit" value="Login">
    <p><span>Already have one?</span>  <a href="{% url 'core:login' %}">Login</a></p>

</form>
